#header4-2 H1 {
  color: #ffffff;
}
#msg-box2-4 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-4 .mbr-article {
  color: #252525;
}
#msg-box2-5 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-5 .mbr-article {
  color: #252525;
}
#msg-box2-6 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-6 .mbr-article {
  color: #252525;
}
